[flake8]
ignore = ANN101, ANN001, ANN002, ANN003, C101, C812, 
         D100, D101, D102, D103, D104, D105, D106, D107, D203, D400, D401, 
         E124, E203, I100, I101, I201, I900, N801, S101, S106, SIM105, SIM106, S604, W503, W504, 
         # Most ignores are here since they conflict with the yapf coding style. 
         # Add all rules with Dxxx in order to enforce docstrings anywhere
max-line-length = 120
max-expression-complexity = 8
exclude = venv*/*,
          env*/*,
          .tox,
          .git,
          .mypy_cache,
          .pytest_cache,
          __pycache__,
          src/dotnetinteropt_examples/*

per-file-ignores =
        # Imported but unused (to make modules public)
        # Unable to detect defined names (to make modules public)
        # Blank line at end of file (for empty files)
        __init__.py: F401, 
                     F403,
                     W391 
