#    pip-compile --extra=dev --output-file=requirements-dev.txt --resolver=backtracking pyproject.toml
alabaster==0.7.13
    # via sphinx
attrs==23.1.0
    # via
    #   jsonschema
    #   referencing
babel==2.13.1
    # via sphinx
beautifulsoup4==4.12.2
    # via
    #   furo
    #   nbconvert
bleach==6.1.0
    # via nbconvert
bottle==0.12.25
    # via cprofilev
build==1.0.3
    # via pip-tools
cachetools==5.3.2
    # via tox
certifi==2023.7.22
    # via requests
cfgv==3.4.0
    # via pre-commit
chardet==5.2.0
    # via tox
charset-normalizer==3.3.2
    # via requests
click==8.1.7
    # via pip-tools
colorama==0.4.6
    # via tox
coverage[toml]==7.3.2
    # via
    #   example (pyproject.toml)
    #   pytest-cov
cprofilev==1.0.7
    # via example (pyproject.toml)
defusedxml==0.7.1
    # via nbconvert
distlib==0.3.7
    # via virtualenv
docutils==0.18.1
    # via
    #   example (pyproject.toml)
    #   nbsphinx
    #   sphinx
    #   sphinx-rtd-theme
exceptiongroup==1.1.3
    # via pytest
fastjsonschema==2.18.1
    # via nbformat
filelock==3.13.1
    # via
    #   tox
    #   virtualenv
furo==2023.9.10
    # via example (pyproject.toml)
gprof2dot==2022.7.29
    # via pytest-profiling
identify==2.5.31
    # via pre-commit
idna==3.4
    # via requests
imagesize==1.4.1
    # via sphinx
importlib-metadata==6.8.0
    # via
    #   build
    #   jupyter-client
    #   nbconvert
    #   sphinx
importlib-resources==6.1.1
    # via
    #   jsonschema
    #   jsonschema-specifications
iniconfig==2.0.0
    # via pytest
jinja2==3.1.2
    # via
    #   nbconvert
    #   nbsphinx
    #   pytest-html
    #   sphinx
jsonschema==4.19.2
    # via nbformat
jsonschema-specifications==2023.7.1
    # via jsonschema
jupyter-client==8.6.0
    # via nbclient
jupyter-core==5.5.0
    # via
    #   jupyter-client
    #   nbclient
    #   nbconvert
    #   nbformat
jupyterlab-pygments==0.2.2
    # via nbconvert
markupsafe==2.1.3
    # via
    #   jinja2
    #   nbconvert
mistune==3.0.2
    # via nbconvert
nbclient==0.9.0
    # via nbconvert
nbconvert==7.11.0
    # via nbsphinx
nbformat==5.9.2
    # via
    #   nbclient
    #   nbconvert
    #   nbsphinx
nbsphinx==0.9.3
    # via example (pyproject.toml)
nodeenv==1.8.0
    # via pre-commit
packaging==23.2
    # via
    #   build
    #   nbconvert
    #   pyproject-api
    #   pytest
    #   sphinx
    #   tox
pandocfilters==1.5.0
    # via nbconvert
pip-tools==7.3.0
    # via example (pyproject.toml)
pkgutil-resolve-name==1.3.10
    # via jsonschema
platformdirs==3.11.0
    # via
    #   jupyter-core
    #   tox
    #   virtualenv
pluggy==1.3.0
    # via
    #   pytest
    #   tox
pre-commit==3.5.0
    # via example (pyproject.toml)
pygments==2.16.1
    # via
    #   furo
    #   nbconvert
    #   sphinx
pyproject-api==1.6.1
    # via tox
pyproject-hooks==1.0.0
    # via build
pytest==7.4.3
    # via
    #   example (pyproject.toml)
    #   pytest-cov
    #   pytest-html
    #   pytest-metadata
    #   pytest-profiling
pytest-cov==4.1.0
    # via example (pyproject.toml)
pytest-html==4.1.1
    # via example (pyproject.toml)
pytest-metadata==3.0.0
    # via pytest-html
pytest-profiling==1.7.0
    # via example (pyproject.toml)
python-dateutil==2.8.2
    # via jupyter-client
pytz==2023.3.post1
    # via babel
pyyaml==6.0.1
    # via pre-commit
pyzmq==25.1.1
    # via jupyter-client
referencing==0.30.2
    # via
    #   jsonschema
    #   jsonschema-specifications
requests==2.31.0
    # via sphinx
rpds-py==0.12.0
    # via
    #   jsonschema
    #   referencing
six==1.16.0
    # via
    #   bleach
    #   pytest-profiling
    #   python-dateutil
snowballstemmer==2.2.0
    # via sphinx
soupsieve==2.5
    # via beautifulsoup4
sphinx==7.1.2
    # via
    #   example (pyproject.toml)
    #   furo
    #   nbsphinx
    #   sphinx-autodoc-annotation
    #   sphinx-autodoc-typehints
    #   sphinx-basic-ng
    #   sphinx-copybutton
    #   sphinx-gallery
    #   sphinx-rtd-theme
    #   sphinxcontrib-jquery
sphinx-autodoc-annotation==1.0.post1
    # via example (pyproject.toml)
sphinx-autodoc-typehints==1.25.2
    # via example (pyproject.toml)
sphinx-basic-ng==1.0.0b2
    # via furo
sphinx-copybutton==0.5.2
    # via example (pyproject.toml)
sphinx-gallery==0.14.0
    # via example (pyproject.toml)
sphinx-rtd-theme==1.3.0
    # via example (pyproject.toml)
sphinxcontrib-applehelp==1.0.4
    # via sphinx
sphinxcontrib-devhelp==1.0.2
    # via sphinx
sphinxcontrib-htmlhelp==2.0.1
    # via sphinx
sphinxcontrib-jquery==4.1
    # via sphinx-rtd-theme
sphinxcontrib-jsmath==1.0.1
    # via sphinx
sphinxcontrib-qthelp==1.0.3
    # via sphinx
sphinxcontrib-serializinghtml==1.1.5
    # via sphinx
tinycss2==1.2.1
    # via nbconvert
tomli==2.0.1
    # via
    #   build
    #   coverage
    #   pip-tools
    #   pyproject-api
    #   pyproject-hooks
    #   pytest
    #   tox
tornado==6.3.3
    # via jupyter-client
tox==4.11.3
    # via example (pyproject.toml)
traitlets==5.13.0
    # via
    #   jupyter-client
    #   jupyter-core
    #   nbclient
    #   nbconvert
    #   nbformat
    #   nbsphinx
urllib3==2.1.0
    # via requests
virtualenv==20.24.6
    # via
    #   pre-commit
    #   tox
webencodings==0.5.1
    # via
    #   bleach
    #   tinycss2
wheel==0.41.3
    # via pip-tools
zipp==3.17.0
    # via
    #   importlib-metadata
    #   importlib-resources

# The following packages are considered to be unsafe in a requirements file:
# pip
# setuptools
